body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    main {
        transform: scale(.9)
    }
}

/* HEADER CSS */
h1 {
    font-weight: bolder;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, sans-serif;
    transform: scale(.8, 1);
    margin-left: calc(50% - 60px);
    /* look up font lesson to add little lines to the top and bottom of letters */
}

.question-mark {
    border: none;
    background-color: #ffffff;
    margin-left: auto;
}

/* POP-UP CSS */
.popup {
    display: none;
    position: absolute;
    top: 60px;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:1;
   
    .example-row {
        transform: scale(0.7);
        text-align: center;
        p {
            text-align:left;
            font-size: 20px
        }
    }
}

/* GAMOVER POPUP */

.game-over, .game-won {
    display: none;
}



.game-over-button  {
        height: 50px;
        width: 120px;
        border: none;
        background-color: #d4d6da;
        border-radius: 6px;
        margin-top: 5px;
        font-size: 20px;
    }


/* KEYBOARD CSS */
/* .virtual-keyboard {
    width: 100%;
} */

.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: scale(1.5); */
    position: relative;
    top: 450px; left: 0px;
}



.key {
    height: 60px;
    width: 60px;
    border: none;
    background-color: #d4d6da;
    border-radius: 6px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 20px;
    /* transform: scale(2); */
}

.delete {
    width: 150px
}

/* GRID CSS */

.inactive-cell-border {
    border: #d3d6da 1px solid

}

.active-cell-border {
    border: #000000 2px solid
}

.wrong-cell {
    color: #ffffff;
    background-color: #a2a5af
}

.correct-letter {
    color:#ffffff;
    background-color: #e3e365

}

.correct-cell {
    color: #ffffff;
    background-color: #62d362
}

.content-positioning {
    width: 500px;
    margin: 0 auto
}

.letter-grid {
    width: 450px;
    height: 75px;
    .col div{
        /* height: 50px;
        width: 50px; */ 
        width: 100%;
        height: 100%;
        position: relative; 
 }

}

.col div {
    font-size: 25px;
    padding: 16px;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../downloads/UbuntuMono-Regular.ttf")
}

@media screen and (max-width: 668px)  {

    .key {
        height: 45px;
        width: 25px
    }
    .delete {
        width: 130px
    }

    .letter-grid {
        width: 300px;
        height: 50px;
        
    }

    .keyboard-container {
        top: 340px;
        /* width: 450px; */
    }

    .delete {
        width: 80px
    }
    .col div {
        padding: 6px
    }
    
}