/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: Arial, Helvetica, sans-serif}

main {
  padding: 0 20px;
}

.container {
  display: flex;
  align-items: center;
}

.language-switch {
  margin: auto;
  padding: 0 10px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images img, .images figcaption {
  width: 311px;
}

figcaption {
  padding-bottom: 38px;
  padding-top: 5px;
}

.hide-unhide {
  padding-bottom: 20px;
}

.dropbtn {
  background-color: #D99E67;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 28px;
  margin-left: -145px
}

a {
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;

}

.dropdown-content a:hover {
  background-color: #D99E67
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #D99E67;
}

header {
  padding: 0 15px;
  background-color: #D99E67;
}

.title {
  text-align: center;
}

.descriptive-text {
  text-align: center;

}

.extra {
  display: none;
}

p {
  display: inline;
}

input[type="checkbox"] {
  height: 2em;
  display: block;
  appearance: none;
}

label {
  position: relative;
  padding: 1em;
  cursor: pointer;
}

.dots.dots:has(~input[type="checkbox"]:checked) {
  display: none;
}

.extra:has(~input[type="checkbox"]:checked) {
  display: inline;
}